@{
    ViewBag.Title = "Contact | BuildR Template";
}

@section PageJavaScript{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Content/Scripts/wiwet.map.config.js"></script>    
}

@section HeaderBody {
    <div class="container socialize">
        <div class="row ">
                <div>
                    <h2 class="animated slideInDown">Spread the Word & Get Paid</h2>
                    <!--
                    <h1 class="animated slideInDown">Referrals</h1>
                    <h2 class="animated slideInUp">Join the Mailing List<br>Invite a Friend & Get Ohni</h2>
                        -->
                </div>
                </section>
        </div>
    </div>
}

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezJwGI9mJthEGxIxz7xQRtP2h-vfYgCSLra3b5K2fK5G0yUw/viewform?embedded=true" 
        width="100%" height="1200px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

   
        <!--
        <div class="col-sm-5 fadeRightEffect">
            <div class="contact-info">
                <div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><i class="fa fa-map-marker"></i></div>
                        <div class="col-xs-8">
                            <h3>ADDRESS</h3>
                            <p>78 , Business Center,Biverely Hills - Los Angeles<br>California - United States  </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 text-right"><i class="fa fa-phone"></i></div>
                        <div class="col-xs-8">
                            <h3>PHONE</h3>
                            <p><a href="tel:+11065897456">+11-065-897-456</a></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 text-right"><i class="fa fa-envelope-o"></i></div>
                        <div class="col-xs-8">
                            <h3>EMAIL</h3>
                            <p><a href="mailto:contact@buildr.com">contact@buildr.com</a></p>
                        </div>
                    </div>

                    -->
                
            <!--</div>
        </div>
    </div>-->


<!--
<section class="socialize fadeUpEffect">
    <div>
        <h2>Spread the Word & Get Paid</h2>
        
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
            
    </div>

</section>
-->
<!--
<section class="visit-us fadeUpEffect2">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4 col-md-2 col-md-offset-5">
                <h2>VISIT US</h2>
            </div>
        </div>
    </div>
    <div id="map-canvas"></div>
</section>
    -->