@charset "UTF-8";
/* CSS Document */


/* This is the first textfield for the square feet */
.icon {
    background: url(../images/textfield/textfieldjpg.jpg);
	background-repeat: no-repeat;
	font: "Courier New", Courier;
	width:251px;
	height:57px;
	font-size:20px;
	color:#FFF;
	line-height: 24px;
	padding-bottom: 10px;
	text-align: center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

/* This is the second textfield for the cost of the plan or 'total-cost' */
.icon2 {
    background: url(../images/textfield/textfieldjpg.jpg);
	background-repeat: no-repeat;
	font: "Courier New", Courier;
	width:251px;
	height:57px;
	font-size:20px;
	color:#FFF;
	line-height: 24px;
	padding-bottom: 10px;
	text-align: center;
}

#tableoptions {
	padding-top: 10px;
	width: 474px;
	border: 5px solid silver;
}

.links1 {
	 text-align:right;

}

.gobackfont {
	padding-left: 15px;
}

.signedinfont {
	padding-right: 15px;
}

#businessname {
	background: url(../images/textfield/typeofstore/businessaddress.jpg);
	background-repeat: no-repeat;

	width: 220px;
	height: 120px;
	overflow-y: hidden;
	overflow-x: visible;
	resize:both;
	
	
	text-align: center;
    vertical-align: middle;
    display: table-cell;
	
	
	font-size: 26px;
	color: #CCC;
	-webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      2px 2px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	
}

#businesstype {
	vertical-align: middle;
	width: 220px;
	padding-left: 1px;
}

#businessaddress {
	background: url(../images/textfield/typeofstore/businessaddress.jpg);
	background-repeat: no-repeat;
	display: table-cell;
	width: 220px;
	height: 120px;
	font-size: 18px;
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
	overflow-y: hidden;
	overflow-x: visible;
	margin: 4px;
	margin-top: 10px;
	text-align: center;
    vertical-align: middle;
    display: table-cell;
	
}

#fontaddress {
	font-size: 24px;
	padding-bottom: 5px;
}

td.description {vertical-align: top;
margin: 15px;}

.selectedimages {
display: none;
}