@{
    ViewBag.Title = "Services | BuildR Template";
}

@section PageJavaScript{
    <script type="text/javascript">
        $('.slick-slider').slick({
            nextArrow: '<button class="slick-next"><i class="fa fa-angle-right"></i></button>',
            prevArrow: '<button class="slick-prev"><i class="fa fa-angle-left"></i></button>',
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true
                            }
                        }
                    ]
        });
    </script>
}

@section HeaderBody {
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">Ohni Bank Token</h1>
                <h2 class="animated slideInUp">Lend Fractionally Forever</h2>
            </div>
        </div>
    </div>

}

<!--
<section class="services-page services-top">
    <div class="row fadeLeftRight">
        <div class="col-md-4 fadeLeftEffect">
            <div class="provider-quality">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right">
                            
                            <!-- <img src="../Content/Images/OCC_Icon_Finance.fw.png">
                           <i class="fa fa-university fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Work with your Community</h2>
                            <p>
                                An Ohni Bank Token will have up to 10,000 Ohni Consumer Coin balances.
                                Just think of it as the new bank, decentralized, independent and instead
                                of earning interest, lending fractionally at x5. That means if you borrow
                                1000 OCC from your users you can lend out 5000 OCC. You can lend out that
                                OCC for whatever project and as soon as you get repayment, you back your
                                lenders and can lend out now at 25000 OCC. 

                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-4 fadeUpEffect"><img src="../Content/Images/Description.jpg"></div>

        <div class="col-md-4 fadeRightEffect">
            <div class="product-quality">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-rocket"></i></div>
                        <div class="col-xs-10">
                            <h2>Fund Asteroid Mining or Your Community</h2>
                            <p>
                                With OBTs, you decide what you wish to loan to. There
                                will be huge projects that will showcase where user demand
                                is going to and smaller local community ones as well. 
                                You'll be able to lend a portion to charitable causes,
                                as well as large International projects: asteroid mining,
                                undersea colonies, a Moon Base, etc, etc.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
    -->


<section class="services-page services-middle">
    <div class="container fadeUpEffect1 wait1">
        <div class="row">
            <div class="col-md-4">
                <div class="we-produce">
                    <h2>Exchanges & The ICO</h2>
                    <p>
                        <h4>To view your Ohni coin, add the contract:</h4>
                        <br />
                        <b>0x7F2176cEB16dcb648dc924eff617c3dC2BEfd30d</b>
                        <br />
                        <br />
                        <br />
                        <h4>
                            There is a mini-ICO going on right now, for 100
                            million coins. Send either Ethereum or Bitcoin
                            to this address to get Ohni at a price of 100,000
                            for one Ether.</h4>
                            <br />
                            <b>0xa33f2333FeF94297216bfB32ED37A5d9EA3c1822</b>
                            <br />
                            <br />
                        <br />
                            <span class="visible-md visible-lg">
                                <small>
                                    Our commitment is to continually increase
                                    the number of wallets and exchanges we are
                                    adopted on. We will continue to grow and
                                    represent your demand in all instances
                                    and cases and thank you for the opportunity.
                                    Please remember you are purchasing a
                                    financial product from Ohni and not shares
                                    or a security. You are held responsible for
                                    your own choices and by participating in
                                    Ohni you will not hold Ohni liable for
                                    mistakes or errors you make. It may take
                                    up to ten to fifteen years for Ohni Tokens
                                    to reach their full capabilities and during
                                    that time we will not encourage any sort
                                    of speculation on our token or products.
                                    The Ohni Token is for the partipation
                                    and use of the Ohni Economy as outlined
                                    in the Whitepaper. Please have a financial
                                    advisor or attourney advise you on all matters.
                                </small>
                            </span>
</p>
                    <!--<a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>-->
                </div>
            </div>
            <div class="col-md-8">
                <div class="services-slider">
                    <div class="slick-slider">
                        <img src="../Content/Images/Logo.fw.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-page services-bottom">
    <div class="row fadeLeftRight1">
        <div class="col-md-4 fadeLeftEffect1">
            <div class="client-services">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-users"></i></div>
                        <div class="col-xs-10">
                            <h2>Build Your Own Digital Nation State</h2>
                            <p>
                                Issue certificates, raise volunteers, create your own
                                flag and set-up boundries.
                                Elections for people to manage the OCC pool. The rise of the
                                Polis and City-State, govern with others or rule alone.
                                Digital security and transparency allows financial transactions
                                and funds to act in real time. Or merge with others to form
                                huge banks and fund humanitarian issues: cleaning the Pacific
                                Ocean, solving deforestation and eliminating pollution.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 fadeUpEffect2"><img src="../Content/Images/Europe2.jpg"></div>

        <div class="col-md-4 fadeRightEffect1">
            <div class="support247">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-area-chart"></i></div>
                        <div class="col-xs-10">
                            <h2>Real Time Feedback</h2>
                            <p>
                                Since Ohni Bank are part of the same network for Ohni Coin,
                                you can witness demand flowing in real time to what products,
                                services, stores and reasons why. Found a problem? Be the first
                                to innovate and earn millions. Want to start a business? Set up
                                a plan on the Ohni Business Network and get an OBT to fund you
                                and back you. Start from idea and take it all the way to finish.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>