<footer>

    <div class="container footer">
        <img src="../Content/Images/Ohni_Logo_Large.fw.png">
        <!--
        <ul>
            <li><a href="/">Home</a></li>
           <li><a href="@Url.Action("Images", "Home")">IMAGES</a></li>
            <li><a href="@Url.Action("Exchanges", "Home")">Exchanges</a></li>
            <li><a href="@Url.Action("Referrals", "Home")">Referrals</a></li>
        </ul>

        <a href="https://stocks.exchange/trade/Ohni/ETH" class="get-it">Buy Ohni Here</a>
               --> 
        <p class="copyright">
            <a href="https://docs.google.com/document/d/11pSq9MlHAI0v2zTCu1vmXhXA9Cg1kR2XaE_mo6sIF3I/edit?usp=sharing">
                Disclaimer</a> | &copy; @DateTime.Now.Year  |  Ohni
                <!-- <a href="#" title="Ohni Legal">Legal Information</a>-->
</p>
    </div>

</footer>