@{
    Layout = "~/Views/Shared/MasterPages/_LayoutPage1.cshtml";
}

<link rel="stylesheet" href="../../Content/StyleSheets/Colors.css">
<link rel="stylesheet" href="../../Content/StyleSheets/Colors2.scss">
<link rel="stylesheet" href="../../Content/StyleSheets/Colors3.scss">


<div class="big_daddy">
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
    <div class='spike'></div>
</div>
<script src='https://codepen.io/thebabydino/pen/evPbxv.js'></script>