@{
    ViewBag.Title = "Ohni";
}

@section PageStyle {
    @*You can add your custom style sheets for each page in this section.*@
}

@section PageJavaScript{
    @*You can add your custom JavaScript for each page in this section. This section will be added to the bottom of the page.*@
}

@section HeaderBody {

    <!-- Header -->
<style type="text/css">
    body {
        background-color: #070523;
    }

    #main #home {
        background-image: url(images/Background.jpg);
        text-align: center;
        margin-bottom: 30px;
    }

    #main #about {
        background-color: #070523;
        margin-bottom: 30px;
    }

    #main #whitepaper {
        background-color: #070523;
        margin-bottom: 30px;
    }

    #main #staff {
        background-color: #070523;
        margin-bottom: 30px;
    }

    #main #airdrop {
        background-color: #070523;
        margin-bottom: 30px;
    }

    #main #crowdsale {
        background-color: #070523;
        margin-bottom: 30px;
    }

    #main {
        background-color: #CCC;
        text-align: center;
    }

        #main #statistics {
            background-color: #070523;
            margin-bottom: 30px;
        }

        #main #contact {
            background-image: url(images/Background.jpg);
        }

    #header .top #nav {
        text-align: center;
        vertical-align: middle;
    }



    count {
        display: inline-block;
        font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
    }

        count span {
            display: block;
            font-size: 4.5rem
        }
</style>


   
           <div id="header" class="col-md-2" style="overflow: hidden;">
			<div class="top">
				<div id="logo">
					<h1 id="title">Ohni</h1>
					<p>A New Model</p>
				</div>
				<nav id="nav">
					<ul>
						<li><a href="#home" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home"> Home</span></a></li>
						<li><a href="#track" id="track-link" class="skel-layers-ignoreHref"><span class="icon fa-calculator"> Tracker</span></a></li>
						<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-info"> About</span></a></li>
						<li><a href="#whoweare" id="whoweare-link" class="skel-layers-ignoreHref"><span class="icon fa-user"> Staff</span></a></li>
						<li><a href="#whitepaper" id="whitepaper-link" class="skel-layers-ignoreHref"><span class="icon  fa-newspaper-o"> Whitepaper</span></a></li>
						<li><a href="#airdrop" id="airdrop-link" class="skel-layers-ignoreHref"><span class="icon fa-money"> Air Drop</span></a></li>
						<li><a href="#crowdsale" id="crowdsale-link" class="skel-layers-ignoreHref"><span class="icon fa-users"> Crowd Sale</span></a></li>
					</ul>
				</nav>
			</div>
			<div class="bottom">
				<ul class="icons">
					<li><a href="https://twitter.com/ohni_io" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/ohniio/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.myetherwallet.com/" class="icon fa-dollar"><span class="label">Github</span></a></li>
					<li><a href="https://t.me/OhniGroup" class="icon fa fa-telegram"><span class="label">Telegram</span></a></li>
				</ul>
			</div>
		</div>



            <div class="container">
                <div class="row" id="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <div class="col-xs-offset-2 col-md-offset-2 col-xs-8 col-md-8">
                        <h1><b>Ohni</b></h1>
                        <!--
                        <div class="countdown-container">
                            <ul class="countdown" id="countdown"></ul>
                        </div>
                            -->
                       <div class="address">
                            <h5>TBA</h5>
                            <h6>We are working on a lot of details atm.</h6>
                        </div>
                    </div>
                </div>
            </div>

}






<section class="blog-post why-choose">
    <div class="row fadeLeftRight">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-5 fadeLeftEffect">
            <script type="text/javascript">
                if (navigator.userAgent.match(/Android/i)
                    || navigator.userAgent.match(/webOS/i)
                    || navigator.userAgent.match(/iPhone/i)
                    || navigator.userAgent.match(/iPad/i)
                    || navigator.userAgent.match(/iPod/i)
                    || navigator.userAgent.match(/BlackBerry/i)
                    || navigator.userAgent.match(/Windows Phone/i)) {
                    document.write('<span class="move">Family<br />Nation<br />Career<br />All on your Phone<br />Secure & Connected</span><img src="../Content/Images/Background.gif" width="100%" height="100%" />');
                } else {
                    document.write('<span class="move">Localized Blockchains</span><video class="bgvid" autoplay="autoplay" loop="loop"><source src= "../Content/Images/Background.mp4" type= "video/mp4" ></source><source src="../Content/Images/Background.webm" type="video/webm"></source><source src="../Content/Images/Background.ogg" type="video/ogg"></source><source src="../Content/Images/Background.swf" type="video/swf"></source></video>');

                }
            </script>
        </div>

        <!--<a href="#"><h2 class="move">Localized Blockchains</h2 ></a >-->

        <div class="col-md-offset-2 col-md-8 col-lg-3 fadeRightEffect">
            <div class="post">
                <h3 id="raise">Decentralized <B>Finance</B></h3>
                <h6>
                    Ohni is a decentralized finance model for empowering communities by uniting consumers.
                    Ohni will attach receipts to anonymous spending so spending can be pooled together as a bargaining chip against corporations.
                    It will be the world's first true demand prediction market and a digital wall street that allows demand to be sold in chunks.
                    Businesses can back plans, banks can advise Ohni Token Holders who back the loans of corporations with Ohni currency.
                    Ohni Tokens function as digital Ohni account management tools and owning one would allow
                    fractionally lending to various causes; business, communities, states, nations and international consumer plans with
                    Volk scores to track promises and Marks to track the reputation of Token Holders.
                </h6>
                <h6>
                    The token acts as a digital fingerprint for instant access, instant payments and voting measures throughout the network while
                    ownership of the token returns constant Ohni currency through lending. The Ohni currency is a separate off-chain local IOT blockchain
                    done through mobile which pushes spending transactions and returns Ohni as a form of cashback.
                    Competing plans, businesses, community renovations, infrastructure and eventually taxes can be collected through tokens that have successfully
                    defined regions of the network. As one of the first purchasers of Ohni Tokens, this would give you front seat access to
                    a new financial and technical tool for tracking markets; investing into profitable areas, utilizing new technology for
                    successful innovations and creating efficiency in city and rural life. To utilize Ohni Tokens, make a wallet on
                    <a href="https://www.myetherwallet.com/">MyEtherWallet</a> where we are supported.
                </h6>

                <a href="Ohni_Whitepaper_V2.pdf" class="default"><i class="fa fa-long-arrow-right"></i> Whitepaper</a>
            </div>
        </div>
    </div>
</section>

<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <script type="text/javascript" src="//use.typekit.net/npe3lft.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    <div class="wrapper--team">
        <div class="l-container">
            <div class="team-grid">

                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">The Third Man</h3>
                            <p class="member__title">CEO</p>
                            <a class="member__link" href="https://www.facebook.com/thethird.mann.5">Read More</a>
                        </div>
                    </div>
                    <img class="max_width" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22366402_122503961791119_4615993580939976817_n.jpg?oh=949721e13db79c25df480820d5cfcf63&oe=5A40327F" alt="The Third Man">
                </div>

                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">Zander Kiel</h3>
                            <p class="member__title">COO</p>
                            <a class="member__link" href="https://www.facebook.com/aarush.abhibhu.7">Read More</a>
                        </div>
                    </div>
                    <img class="max_width" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22405432_136150893778302_2147655139920601609_n.jpg?oh=5b96d8fcec979e67cf3109ecb38d7cb0&oe=5A6F59B0" alt="Zander Kiel">
                </div>

                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">Gnosis</h3>
                            <p class="member__title">CFO</p>
                            <a class="member__link" href="https://www.facebook.com/bertram.guilfoyle.9?fref=pb&hc_location=friends_tab&pnref=friends.all">Read More</a>
                        </div>
                    </div>
                    <img class="max_width" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22489776_126646281422204_4738610037636808039_n.jpg?oh=e7279eb69c6f07fc4964072497749f57&oe=5A827ED3" alt="Gnosis">
                </div>

                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">Paul</h3>
                            <p class="member__title">CMO</p>
                            <a class="member__link" href="https://www.facebook.com/pauls.bertulis">Read More</a>
                        </div>
                    </div>
                    <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22366722_1585658588147786_3290593473299102383_n.jpg?oh=2fdeb500137b04a61bcd91ba0fc10897&oe=5A4157B1" alt="Paul">
                </div>


                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">Hans Chan</h3>
                            <p class="member__title">Analyst</p>
                            <a class="member__link" href="https://www.facebook.com/hans.chan.90475">Read More</a>
                        </div>
                    </div>
                    <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22491532_103261127101567_6700262173568870043_n.jpg?oh=b6e095963ffa869255846869d850a060&oe=5A7F82BE" class="max_width" alt="Hans Chan" />
                </div>

                <!--
                <div class="team-grid__member hover">
                    <div class="member__info">
                        <div class="center-vert-content">
                            <h3 class="member__name">James Gold</h3>
                            <p class="member__title">CTO</p>
                            <a class="member__link" href="https://www.facebook.com/james.gold.1238292">Read More</a>
                        </div>
                    </div>
                    <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/22406513_118357502256443_189581742921053289_n.jpg?oh=618f8231aae165ee5fbc73402bca9c95&oe=5A6999C9" class="max_width" alt="Hans Chan" />
                </div>
                       -->

            </div>
            </div>
        </div>
        </div>

        <section class="achievements">
            <div>
                <div class="container fadeUpEffect1">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-8 col-lg-offset-2 col-lg-8">
                            <h3 style="clear: both; text-align: left;">Real Time Token Tracking</h3>
                        </div>
                    </div>

                    <div class="row fadeUpEffect1 wait1">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-user"></i>Token Holders</h3>
                            <a href="https://etherscan.io/token/0x7f2176ceb16dcb648dc924eff617c3dc2befd30d"><h1 id="holders"></h1></a>
                        </div>

                        <div class="col-sm-4">
                            <h3><i class="fa fa-ravelry"></i>Pre-Sale Ether Funds</h3>
                            <a href="https://etherscan.io/token/0x7f2176ceb16dcb648dc924eff617c3dc2befd30d?a=0xa33f2333fef94297216bfb32ed37a5d9ea3c1822"><h1 id="PreSaleFunds"></h1></a>
                        </div>

                        <div class="col-sm-4">
                            <h3><i class="fa fa-bar-chart"></i> Tokens</h3>
                            <h1><span class="count-shares">10 Billion</span> </h1>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section class="blog-post why-choose">
            <!-- To increase to full size remove container dated 9/10/2017  <div class="container">-->

            <div class="row">

                <table class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <tr>
                        <td>
                            <div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                                <svg viewBox="0 0 595.3 595.3">
                                    <a class="vortex" id="first" onclick="textAlter(1)">
                                        <path d="M530,198.1c18.7,57.1,16.5,113.4-17,163.7c-64.7,97.1-155.7,115.9-262.9,81.9
		c3,2.8,6,5.7,9.1,8.5c3,2.8,6.1,5.6,10.5,9.7c-58.2-20-96.9-63.4-91.5-119.6c0.6-5.9,2.2-11.6,5.3-17.9c1.2,2.8,2.7,5.6,3.7,8.6
		c8.2,23.7,17.7,46.6,35,65.6c24.4,26.6,55.1,40.2,90.2,45c38.6,5.4,73.9-4.2,106.3-24.7c21.8-13.8,44.2-27.2,63.9-43.6
		c29.9-25,43.3-59.6,48.7-97.5c3.6-25.5,2.9-50.9-1.2-76.3C529.9,200.3,530,199.1,530,198.1z" />
                                    </a>
                                    <a class="vortex" onclick="textAlter(2)">
                                        <path d="M83.4,168.6c14-17,31.1-30.3,49.9-41.4c63.5-37.6,130.4-46.2,199.1-17.7
		c68.3,28.4,107.9,80.7,118.6,154.3c0.6,3.9,1.2,7.8,1.9,11.8c0.1,0.5,0.6,0.9,2.3,3c1.9-5.8,3.5-10.5,4.9-15.3c1.6-5.1,2.9-10.3,4.6-16c17.1,49-32.9,126.1-84,128.5c8.1-10,16-19.1,23.3-28.7c19.4-25.6,31.9-53.8,30-86.6c-2.6-46.2-22.3-83.8-60.6-110c-40.5-27.6-86.3-41.6-135.1-44.2c-40-2.1-75.8,12.2-109.3,32.5C113.5,148.2,98.6,158.6,83.4,168.6z" />
                                    </a>
                                    <a class="vortex" onclick="textAlter(3)">
                                        <path d="M60.3,394.2C42,318.9,59,236.5,129.2,181.5c68.2-53.4,143.4-53.9,222.1-24.6
		c-8.7-7.7-17.5-15.4-27.5-24.2c63.9,21.6,103.6,82.7,84,134.8c-3.1-9.8-5.6-19.5-9.1-28.8c-24.5-64.2-90.4-95.8-150.1-91
		c-23.6,1.9-45.9,8.5-65.4,22c-25.2,17.4-51.2,34-74.1,54.1c-28.5,25-41.1,59.4-44.8,96.6c-2.1,21.1-2.2,42.5-3.2,63.7
		C60.9,386.9,60.6,389.5,60.3,394.2z" />
                                    </a>
                                    <a class="vortex" onclick="textAlter(4)">
                                        <path d="M400.4,412.7c4.8,0,7,0,9.2,0c0.2,0.6,0.4,1.2,0.7,1.8c-8,3.7-15.8,8.1-24.2,10.9
		c-42.7,14.3-81.9,8.8-116.1-22.8c5.5,1.2,11,2.4,16.5,3.6c5.8,1.2,11.6,2.6,17.5,3.6c90.4,16.5,173.3-55.1,169-146.8
		c-1.5-30.5-3.7-61.3-14.5-90.4c-14.3-38.6-42.7-65-77-85.8c-15.7-9.5-32-18-47.8-28c1.1,0.1,2.2,0.1,3.2,0.4
		c58.9,19.4,106.6,52.9,136,108.9c34.9,66.6,23.3,150.2-28.3,205.1c-10.8,11.5-23.4,21.4-35.2,32C407,407.3,404.6,409.2,400.4,412.7
		z" />
                                    </a>
                                    <a class="vortex" onclick="textAlter(5)">
                                        <path d="M497.3,444.4c-18,18.1-39.6,31.1-62.9,40.8c-58.7,24.5-118.1,26-175.9-1.1
		c-63.9-29.9-101.6-80.8-111.3-151.5c-0.4-2.7-0.9-5.3-1.4-8c-1.1-0.1-2.2-0.3-3.3-0.4c-3.2,14.9-6.3,29.8-9.5,44.5
		c-15.9-68,12-136,82.4-150.7c-5.7,5.5-10,9.7-14.4,13.7c-22.2,20.4-37.2,45.3-42,75.1c-8.9,54.9,10.2,99.2,53.8,133.2
		c16.7,13,35.3,22.8,55.5,29.3c19.7,6.3,39.3,13.1,59.4,18.1c34.5,8.5,68.5,3.4,101-9.4c21.3-8.4,41.4-19.8,62-29.9
		C493,446.9,495.2,445.6,497.3,444.4z" />
                                    </a>
                                    <a class="vortex" onclick="textAlter(6)">
                                        <path d="M273.1,536.5c-23.4-4.9-44.9-14.1-64.9-26.7c-44.9-28.3-79.3-65.4-92.7-118.3
		c-19.4-77.2,3.9-140.8,63.6-192c6.8-5.9,13.7-11.7,20-19.5c-4.7,0.8-9.4,1.6-14.1,2.6c-4.6,0.9-9.2,2-15.3,3.3
		c42.9-33.4,117.9-37.9,153.4,3c-12.3-2.4-24.1-5.4-36-7c-85.5-11.7-169.2,52.7-164.6,143.9c2.3,46,12.8,91.1,40,130.2
		c17.2,24.8,41,42.2,66.9,57c12.1,6.9,24.6,13,36.9,19.5C268.6,533.7,270.8,535.1,273.1,536.5z" />
                                    </a>
                                </svg>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <section class="typography">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="overflow">
                                            <div id="shift">
                                                <h3 id="head-of-box">Click on any of the spirals above for more information on Ohni.</h3>
                                            </div>
                                            <p id="text-box">

                                            </p>

                                        </div>
                                        <!--
                                        <div class="ui-box-inner">
                                            <div class="row">
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <div class="row">
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->

                                    </div>

                                    <div class="col-md-offset-1 col-md-5">
                                        <div>
                                            <div class="row">
                                                <iframe id="animations" src="/home/colors" scrolling="no" class="ui-box" allowfullscreen='true' frameborder="0"></iframe>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>

                        </td>
                    </tr>
                </table>

                <script>
                </script>
            </div>
    </div>
    </section>

