
@{
    Layout = "~/Views/Shared/MasterPages/_LayoutPage1.cshtml";
}

<link rel="stylesheet" href="../../Content/Stylesheets/Slideshow.css">



<div class="workspace">
    <div class="bg-content"></div>
    <div class="mobile-body">
        <div class="top-bar">
            <div class="camera"></div>
            <div class="speaker"></div>
        </div>
        <div class="button volume-up"></div>
        <div class="button volume-down"></div>
        <div class="button silent"></div>
        <div class="button power"></div>
        <div class="layer-2"></div>
        <div class="layer-1"></div>
        <div class="layer-gradient-1"></div>
        <div class="layer-gradient-2"></div>
    </div>
    <div class="gallery-content">
        <div class="gallery-content__img active" data-img="../../Content/Images/1.jpg"><img src="../../Content/Images/1.jpg"></div>
        <div class="gallery-content__img" data-img="../../Content/Images/2.jpg"><img src="../../Content/Images/2.jpg"></div>
        <div class="gallery-content__img" data-img="../../Content/Images/3.jpg"><img src="../../Content/Images/3.jpg"></div>
        <div class="gallery-content__img" data-img="../../Content/Images/4.jpg"><img src="../../Content/Images/4.jpg"></div>
        <div class="gallery-content__img" data-img="../../Content/Images/5.jpg"><img src="../../Content/Images/5.jpg"></div>
      
   </div>
</div>

<script src="../../Content/Scripts/Slideshow.js"></script>