@{
    ViewBag.Title = "Blank Page | BuildR Template";
}

@section PageStyle {
    @*You can add your custom style sheets for each page in this section.*@
}

@section PageJavaScript{
    @*You can add your custom JavaScript for each page in this section. This section will be added to the bottom of the page.*@
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">Legal</h1>
                <h2 class="animated slideInUp">Disclaimer<br></h2>
            </div>
        </div>
    </div>
}

<div class="container text-center page-wrap titleAnimation">
    <h1>Legal Disclaimer</h1>
    <p>We are not to be held accountable for losses</p>
    <br />
    <br />
    Legal Disclaimer, Security, User Rights Terms and Agreements:
    <br />
    <br />
    ( Disclaimer updated as of: 8/20/2017 )
    <br />
    <br />
    Ohni is an Ethereum Token and all disclaimers made by Ethereum should be taken into consideration when regarding Ohni as well.
    <br />
    <br />
    Ethereum Legal Disclaimer can be found here:
    <br />
    <br />
    https://ethereum.gitbooks.io/frontier-guide/disclaimer.html
    <br />
    <br />
    OHNI DISCLAIMER
    <br />
    <br />
    1. LEGAL DISCLAIMER

    <br />
    Ohni is an Ethereum Token and is used explicitly for trading purposes, collecting, lending, funding and payment services within local, and national rules and regulation limitations.
    <br />
    We are not responsible for how you the user engages with ohni.
    <br />
    Any illegal activity used is solely the users choice and any actions are held accountable by the user who in reading this expressly consents to using Ohni for legal activities only.
    <br />
    <br />
    2. SECURITY
    <br />
    You, the user are accountable and responsible for your decisions, investments and storage of assets.
    <br />
    Any loss of tokens or fiat value is not the responsibility of Ohni or its team.
    <br />
    Ohni is not responsible for issues caused by Third party services such as wallets or exchanges and you the user should use your own judgment and accountability for actions.
    <br />
    <br />
    3. REFERRALS
    <br />
    Ohni does not guarantee funds will be delivered but does work hard to keep up with demand.
    <br />
    You are applying for claims of tokens with the consent that you the user may not receive such requests.
    <br />
    Any funds not sent can be inquired through us, and additional steps will be taken to assist.
    <br />
    <br />
    4.WALLETS
    <br />
    We are not liable for loss of tokens on third party wallets.
    <br />
    Any issues with wallet service should be submitted to said wallet service.
    <br />
    We will however assist any user interested in using 3rd party services
    <br />
    <br />
    5.EXCHANGES
    <br />

    We are not liable for loss of tokens on exchanges or for loss of funds during transactions.
    <br />
    3rd party services such as wallets and exchanges again should be contacted for questions or concerns.
    <br />
    <br />
    6. APPLICATIONS FOR JOBS AND BOUNTIES
    <br />

    We reserve the right to refuse a job or bounty if we feel it is not beneficial to Ohni and the team's demands.
    <br />
    If you feel discriminated , Ohni has a strict policy to equal opportunity but retains the right to refusal if skills do not meet any prerequisites or demands.
    <br />
    If you are offered a task, bounty or job, we have the right to refuse payment on a 7 board member vote should your service provide minimal to no benefit to Ohni

    <br />
    <br />
    7. WEBSITE/MOBILE APPLICATIONS
    <br />
    All the information provided is published with the assumed knowledge of trust and for general information purpose only. Ohni.io and our mobile application does not make any warranties about the completeness, reliability and/or accuracy of this information. Any action you take upon the information you find on our services are strictly at your own risk. Ohni  will not be liable for any losses and/or damages in connection with the use of our website or mobile applications.
    <br />
    3rd party services websites or links:
    <br />
    Any links provided on Ohni.io or our mobile applications  are assumed trustworthy and in good faith however Ohni is not responsible for changes or content on such sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.
    <br />
    Please be also aware that when you leave our website or mobile applications , other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
    <br />
    Consent:

    <br />
    <br />
    By using our website and mobile applications , you hereby consent to our disclaimer and agree to its terms.
    <br />
    Updates:
    <br />
    Should we update, amend or make any changes to this document, those changes will be prominently posted here.
    <br />
    UNDER NO CIRCUMSTANCES SHALL OHNI, OHNI.IO OR OUR MOBILE APPLICATIONS BE HELD RESPONSIBLE OR LIABLE  FOR YOUR ACTIONS. YOU SOLELY HAVE RESPONSIBILITY OR CONSEQUENCES  OF YOUR CHOICES.
    <br />
    8. FINANCIAL
    <br />
    Ohni does not offer financial advice. Users are assumed and consent to make decisions on their own judgment.
    <br />
    Any information provided by Ohni is not a guarantee, and you then user consent to using your good faith and judgment.
    <br />
    We urge any actions taken by you to be consulted by an appropriate professional. We do not offer financial advice.
    <br />
    THE USE OR RELIANCE PROVIDED BY OHNI , OHNI.IO OR OUR MOBILE APPLICATIONS ARE TO BE DONE SOLELY AT YOUR OWN RISK
    <br />
    <br />
    9. TESTIMONIALS AND USER EXPERIENCES
    <br />
    Ohni may provide user experiences submitted by ohni.io, mobile applications or third party services such as blogs, news site and other social media. Those experiences provided are personal user experiences and are opinions by those users. Those experiences do not represent all user experience provided by our services.
    <br />
    YOUR PERSONAL EXPERIENCE MAY DIFFER FROM OTHER USERS WHETHER IT BE POSITIVE OR NEGATIVE IMPACTS BUT DO NOT HOLD OHNI OR OUR SERVICES ACCOUNTABLE
    <br />
    Users opinions also do not represent Ohni and our views on moral ethics, political, social or religious beliefs. Those experiences are not representations of Ohni.
    <br />
    <br />
    10. CREATIVE PROPERTY
    <br />
    Ohni and the Ohni brand is protected by copyright and creative property rights.
    <br />
    Use of the Ohni brand is encouraged however guidelines must be follwed:
    <br />
    <br />

    Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0)
    <br />
    <br />
    You are free to:
    <br />
    Share — copy and redistribute the material in any medium or format
    <br />
    The licensor cannot revoke these freedoms as long as you follow the license terms.
    <br />
    Under the following terms:
    <br />
    Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
    <br />
    NonCommercial — You may not use the material for commercial purposes.
    <br />
    NoDerivatives — If you remix, transform, or build upon the material, you may not distribute the modified material.
    <br />
    Simplified:
    <br />
    You are free to share the image of Ohni, but under no circumstances are you to claim to be representative of Ohni.
    <br />
    You may not use the Ohni brand for your own capital gain without proper acknowledgment of Ohni, or permission from Ohni.
    <br />
    Fan based art, memes included are not a representation of ohni, and are for educational or entertainment purposes.
    <br />
    IN NO WAY DOES ANY FAN BASED ART REPRESENT OHNI OR SHOULD BE CONSIDERED DONE BY OHNI. ALL INQUIRIES ABOUT SUCH MEDIA NEEDS TO BE DISCLOSED CLEARLY AS FAN BASED.






</div>

