

@{
    Layout = "~/Views/Shared/MasterPages/_LayoutPage1.cshtml";
}




<link rel="stylesheet" href="../../Content/StyleSheets/Diamond.css">

    <div class='diamond'>
        <div class='sphere'></div>
        <div class='wrap'>
            <div class='cube'>
                <div class='face'></div>
                <div class='face'></div>
                <div class='face'></div>
                <div class='face'></div>
            </div>
        </div>
        <div class='wrap'>
            <div class='cube'>
                <div class='face'></div>
                <div class='face'></div>
                <div class='face'></div>
                <div class='face'></div>
            </div>
        </div>
    </div>