@{
    ViewBag.Title = "Portfolio | BuildR Template";
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">Images</h1>
                <h2 class="animated slideInUp">A Picture is worth a 1000 Words</h2>
            </div>
        </div>
    </div>
}

<section class="wiwet-skript-tabs">
    <div class="container">
        <ul class="nav" role="tablist">
            <li role="presentation" class="active">
                <a href="#all" aria-controls="all" role="tab" data-toggle="tab">ALL</a>
            </li>

            <li role="presentation">
                <a href="#financial" aria-controls="financial" role="tab" data-toggle="tab">FINANCIAL</a>
            </li>
            <li role="presentation">
                <a href="#blockchain" aria-controls="blockchain" role="tab" data-toggle="tab">BLOCKCHAIN</a>
            </li>
            <li role="presentation">
                <a href="#consumer" aria-controls="consumer" role="tab" data-toggle="tab">CONSUMER</a>
            </li>
        </ul>
    </div>
</section>
<div class="container">
    <div class="wiwet-skript-tabs fadeUpEffect2">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="all">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>TRADITIONAL SCULPTING</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ARCHITECTURE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ART</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ARCHITECTURE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ARCHITECTURE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ART</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="art">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>TRADITIONAL SCULPTING</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/Logo.fw.png">
                            <div class="portfolio-item-hover">
                                <h4>ART</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="people">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_02.jpg">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_06.jpg">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_07.jpg">
                            <div class="portfolio-item-hover">
                                <h4>PEOPLE</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="architecture">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_03.jpg">
                            <div class="portfolio-item-hover">
                                <h4>CONSUMER</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_05.jpg">
                            <div class="portfolio-item-hover">
                                <h4>FINANCIAL</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <img src="../Content/Images/portfolio-item_08.jpg">
                            <div class="portfolio-item-hover">
                                <h4>BLOCKCHAIN</h4>
                                <a href="#"><img src="../Content/Images/link.png"> MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>