@{
    ViewBag.Title = "Ohni Consumer Coin";
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">Ohni Consumer Coin</h1>
                <h2 class="animated slideInUp">Uniting Consumers<br>For Their Communities</h2>
            </div>
        </div>
    </div>
}

<section class="about1">
    <div class="container fadeUpEffect wait05">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="about-layout">
                    <h3>Ohni Consumer Coin</h3>
                    <h5>Earn with just your Phone</h5>
                    <p>
                        Slim blockchains that only store 10,000 to 100,000 transactions means
                        data is only relevant and kept to necessary minimum. Old data gets 
                        pruned off the blockchain locally and processed through GPUs and sent
                        to Ohni Corporate servers allowing for the global blockchain. So instead
                        of Master Nodes, instead of worrying about weighted blockchains, we just
                        keep slim and minimum and with a front facing app this means we're the
                        first to bring blockchain to the masses. Add to that the fact that we
                        offer cash back at an inflated rate, no one will stop us.
                        <span class="visible-md visible-lg">
                            Users are rewarded for storing more transactions, for using their
                            data and for processing power to identify fraudlent transactions.
                            Since someone owns the blockchain, they go out and visit suspicious 
                            and fraudulent transactions. Machine power combined with people power
                            means we keep fraud to a minimum. When an OCC users sells or buys
                            Ohni they do through so through the Zeus machine, a series of GPUs
                            that prune the data and send it Ohni Corporate Servers. Then they
                            attach a receipt certifying the validation of the purchases. 
                            Since transactions are encoded in a series of pixels, they can only
                            be read by GPUs and with no information identifying credit card
                            numbers, bank accounts or user names annoymity is assured at all costs.
                            Lastly, users have the ability to keep transactions off the blockchain 
                            and private as well as switch wallet IDs certifying that it would be
                            nearly impossible to track a user down and find out who they are.
                            In the mass of data, everyone is safe.
                        </span>
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-red">
    <div class="container fadeUpEffect wait2">
        <div class="row">
            <div class="col-xs-3 col-sm-1">
                <img src="../Content/Images/OCC_Icon_Rocket.fw.png">
            </div>
            <div class="col-xs-9 col-sm-5">
                <h2>Blockchains For Speed</h2>
                <p>

                    Most of the blockchains get it wrong. They want to utilize 
                    all data and enforce poor coding on speed but we want to
                    enforce slimness, light weight applications and inclusivity. 
                    The more people use Ohni and the more globally and easily
                    it can be found, the more it will take off and do it's job.
                    We don't need every bit of data, we need security, reliability
                    and annoymity and the blockchain can take of that. A lot of
                    companies focus on payment systems but we want to focus 
                    on inflationary systems and the uniting power of consumers.
                    Don't like a company? Boycott them publically on the blockchain.
                    Bad business practices, boycott. Bad advertising, low wages or
                    a lack of opportunity from a company? Boycott and spend with
                    someone else and the abilty to vote with your coin, you have
                    the power.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about2">
    <div class="container fadeUpEffect1 wait05">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-layout">
                    <h3>Vote and Negotiate</h3>
                    <h5>Win Money for Your Community</h5>
                    <p>
                        If corporations want to do business, they better serve the needs
                        of your community as well. Vote for what you want; alternative
                        energy, recycling, higher wages, scholorships, informal education,
                        charitable projects and various other ways to improve businesses.
                        You can vote for automation but ask for every job replaced that a 
                        small scholorship be given for machine learning and programming.
                        For every business that becomes more efficent, pass the savings
                        onto employee wages. Choose the charitable causes and businesses 
                        that refuse to act won't get any spending there. When you negotiate
                        through a social platform and vote with OCC on the blockchain, you have
                        the power.
                        <span class="visible-md visible-lg">
                            Since votes are counted with OCC from unique wallets through blockchain,
                            voting is accurate and specalized. Elections for managing the OCC pool
                            and collecting OCC for community projects can be set. OCCs can be
                            connected globally, nationally, by region or zip code. Values, a 
                            culture and goals can be set and funds set up to work on various things.
                            With Ohni you have the power as the consumer. If someone did you wrong, you
                            can negatively impact their reputation and you have the power to increase
                            your own social value with civic duty, volunteer help, donations and
                            schooling. Maintain a good home and family life and you can earn just
                            for that from you community. Not to mention all Ohni loans are interest
                            free no matter what. You too can lend Ohni to your Bank and get paid
                            a set amount. With Ohni, the world is better.
                        </span>
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-red">
    <div class="container fadeUpEffect1 wait2">
        <div class="row">
            <div class="col-xs-3 col-sm-1 col-sm-offset-6">
                <img src="../Content/Images/OCC_Icon_Easy.fw.png">
            </div>
            <div class="col-xs-9 col-sm-5">
                <h2>EASY TO USE</h2>
                <p>
                    With a mobile front facing platform and simple easy to use
                    buttons: even the lame, deaf and dumb can use Ohni. We
                    won't bore you with the complicated details. We'll make
                    the front facing end as simple and slick as possible
                    and keep all the complicated machinary away from 
                    uninterested eyes. Just as the way it should be. As for
                    building the company, we'll be building open source
                    and anonymously for transparency and discretion. Our
                    own first ICO was crowsourced and we've grown considerably.
                    We plan on winning by the numbers and ease of use for all.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about3">
    <div class="container fadeUpEffect2 wait05">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="about-layout">
                    <h3>Buy & Sell</h3>
                    <h5>The Zeus Machine Makes Transactions Fast</h5>
                    <p>
                        Miners will play a huge part as well. Why does someone from Texas
                        need to know what someone from Tokyo bought? They don't. So miners
                        prune data before Ohni is sold outside of the Bank Blockchain. Then,
                        amounts of cash are moved around in a series of pings until the user
                        "downloads" or gets their chosen rate of fiat back. We also plan 
                        on building ease of payment systems, from a card to an Ohni phone.
                        We want RFID chips as well for contactless payment. If the Zeus 
                        Machine gets big enough, one could buy and sell Ohni immeaditely 
                        for fiat to pay for whatever and buy Ohni immeaditely as well.
                        <span class="visible-md visible-lg">
                            Remittance payments, insurance companies, banking companies,
                            advertising companies, Wall Street and Silicon Valley will
                            have to adapt or go. Funding, crowdfunding, even possibly 
                            raising taxes can be erased and done through Ohni entirely.
                            With a set of GPUs locally acting as service in the nearby
                            area, any and all heavy transactions can be handled through
                            the network to analyze payments and process for fraudlent
                            transactions. Essentially, we're rebuilding the railroad,
                            Coast to Coast but this time people get to set their 
                            own railroad and claim a small fee for people using it. 
                            Decentralized, fast, local, quick and integrated infrastructure
                            is our answer to a global problem.
                        </span>
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-red">
    <div class="container fadeUpEffect2 wait2">
        <div class="row">
            <div class="col-xs-3 col-sm-1">
                <img src="../Content/Images/Index_Icon_Money.fw.png">
            </div>
            <div class="col-xs-9 col-sm-5">
                <h2>The New World Currency</h2>
                <p>
                    Ohni is better than money. It can be generated for spending,
                    for using processing power on your phone, for participating 
                    in your community, for helping others and for rendering
                    services. Ohni is secure, it cannot be stolen, imprinted on
                    and is watched like a hawk by the Ohni Bank Token holder.
                    Ohni is integrated, it allows demand to seamless find
                    it's way to executives dashboards. Ohni is empowering,
                    you can vote with it, comment with it and use it to voice
                    your concerns for anything financial or economic and use
                    it to pressure anyone with other voices. Ohni is your piece
                    of the pie and your ability to take back your voice and power.
                </p>
            </div>
        </div>
    </div>
</section>