@{
    ViewBag.Title = "Page Not Found | BuildR Template";
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">404 <i class="fa fa-file"></i></h1>
                <h2 class="animated slideInUp">We're sorry, but the page you were looking for doesn't exist.</h2>
            </div>
        </div>
    </div>
}