$ns: 30;
$nd: 30;
$ng: 3;
$dd: 2.5vmin;
$t: .75s;
$ua: 360/$ns;
$xo: .25*$nd*$dd;

@mixin spike($n: $nd, $uo: .5*$dd) {
	$sh: ();
	
	@for $i from 0 to $n { $sh: $sh, $i*$uo 0 currentcolor, $i*$uo 0 3em currentcolor }
	
	box-shadow: $sh;
}

html {
    background: #070523
}

.spike {
	--i: 0;
	position: absolute;
	top: 50%; left: 50%;
	margin: -.5*$dd (-$xo);
	width: $dd; height: $dd;
	border-radius: 50%;
	transform-origin: $xo 50%;
	--base: rotate(calc(var(--i)*#{$ua}*1deg)) translate(1.5*$xo);
	transform: var(--base) scale(1);
	@include spike;
	background: currentcolor;
	color: hsl(calc(var(--i)*#{$ua}), 100%, 50%);
	animation: a $t ease-in-out calc(var(--i)*#{-$t/$ns*$ng}) infinite;
	
	@for $i from 1 to $ns { &:nth-child(#{$i + 1}) { --i: $i } }
}

@keyframes a { to { transform: var(--base) scale(0) } }