html {
    background: #010414;
}

.spike {
  --i: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.25vmin -18.75vmin;
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 50%;
  -webkit-transform-origin: 18.75vmin 50%;
          transform-origin: 18.75vmin 50%;
  --base: rotate(calc(var(--i)*12*1deg)) translate(28.125vmin);
  -webkit-transform: var(--base) scale(1);
          transform: var(--base) scale(1);
  box-shadow: 0vmin 0 currentcolor, 0vmin 0 3em currentcolor, 1.25vmin 0 currentcolor, 1.25vmin 0 3em currentcolor, 2.5vmin 0 currentcolor, 2.5vmin 0 3em currentcolor, 3.75vmin 0 currentcolor, 3.75vmin 0 3em currentcolor, 5vmin 0 currentcolor, 5vmin 0 3em currentcolor, 6.25vmin 0 currentcolor, 6.25vmin 0 3em currentcolor, 7.5vmin 0 currentcolor, 7.5vmin 0 3em currentcolor, 8.75vmin 0 currentcolor, 8.75vmin 0 3em currentcolor, 10vmin 0 currentcolor, 10vmin 0 3em currentcolor, 11.25vmin 0 currentcolor, 11.25vmin 0 3em currentcolor, 12.5vmin 0 currentcolor, 12.5vmin 0 3em currentcolor, 13.75vmin 0 currentcolor, 13.75vmin 0 3em currentcolor, 15vmin 0 currentcolor, 15vmin 0 3em currentcolor, 16.25vmin 0 currentcolor, 16.25vmin 0 3em currentcolor, 17.5vmin 0 currentcolor, 17.5vmin 0 3em currentcolor, 18.75vmin 0 currentcolor, 18.75vmin 0 3em currentcolor, 20vmin 0 currentcolor, 20vmin 0 3em currentcolor, 21.25vmin 0 currentcolor, 21.25vmin 0 3em currentcolor, 22.5vmin 0 currentcolor, 22.5vmin 0 3em currentcolor, 23.75vmin 0 currentcolor, 23.75vmin 0 3em currentcolor, 25vmin 0 currentcolor, 25vmin 0 3em currentcolor, 26.25vmin 0 currentcolor, 26.25vmin 0 3em currentcolor, 27.5vmin 0 currentcolor, 27.5vmin 0 3em currentcolor, 28.75vmin 0 currentcolor, 28.75vmin 0 3em currentcolor, 30vmin 0 currentcolor, 30vmin 0 3em currentcolor, 31.25vmin 0 currentcolor, 31.25vmin 0 3em currentcolor, 32.5vmin 0 currentcolor, 32.5vmin 0 3em currentcolor, 33.75vmin 0 currentcolor, 33.75vmin 0 3em currentcolor, 35vmin 0 currentcolor, 35vmin 0 3em currentcolor, 36.25vmin 0 currentcolor, 36.25vmin 0 3em currentcolor;
  background: currentcolor;
  color: hsl(calc(var(--i)*12), 100%, 50%);
  -webkit-animation: a 0.75s ease-in-out calc(var(--i)*-0.075s) infinite;
          animation: a 0.75s ease-in-out calc(var(--i)*-0.075s) infinite;
}
.spike:nth-child(2) {
  --i: 1;
}
.spike:nth-child(3) {
  --i: 2;
}
.spike:nth-child(4) {
  --i: 3;
}
.spike:nth-child(5) {
  --i: 4;
}
.spike:nth-child(6) {
  --i: 5;
}
.spike:nth-child(7) {
  --i: 6;
}
.spike:nth-child(8) {
  --i: 7;
}
.spike:nth-child(9) {
  --i: 8;
}
.spike:nth-child(10) {
  --i: 9;
}
.spike:nth-child(11) {
  --i: 10;
}
.spike:nth-child(12) {
  --i: 11;
}
.spike:nth-child(13) {
  --i: 12;
}
.spike:nth-child(14) {
  --i: 13;
}
.spike:nth-child(15) {
  --i: 14;
}
.spike:nth-child(16) {
  --i: 15;
}
.spike:nth-child(17) {
  --i: 16;
}
.spike:nth-child(18) {
  --i: 17;
}
.spike:nth-child(19) {
  --i: 18;
}
.spike:nth-child(20) {
  --i: 19;
}
.spike:nth-child(21) {
  --i: 20;
}
.spike:nth-child(22) {
  --i: 21;
}
.spike:nth-child(23) {
  --i: 22;
}
.spike:nth-child(24) {
  --i: 23;
}
.spike:nth-child(25) {
  --i: 24;
}
.spike:nth-child(26) {
  --i: 25;
}
.spike:nth-child(27) {
  --i: 26;
}
.spike:nth-child(28) {
  --i: 27;
}
.spike:nth-child(29) {
  --i: 28;
}
.spike:nth-child(30) {
  --i: 29;
}

@-webkit-keyframes a {
  to {
    -webkit-transform: var(--base) scale(0);
            transform: var(--base) scale(0);
  }
}

@keyframes a {
  to {
    -webkit-transform: var(--base) scale(0);
            transform: var(--base) scale(0);
  }
}
